.vscode/**
.vscode-test/**
out/**
test/**
src/**
node_modules/.bin/**
.gitignore
tsconfig.json
tsconfig.test.json
.vscode-test.mjs
esbuild.js
**/*.map
**/*.ts
.DS_Store
demo/**
node_modules/wordpos/**
node_modules/wordnet-db/**
node_modules/underscore/**
